body {
  margin: 0px;
}
#banner {
  position: relative;
  display: block;
  width: 726px;
  height: 88px;
  background: #ffffff;
  overflow: hidden;
  border: #d9d9d9 1px solid;
}

#ad {
  display: flex;
  overflow: hidden;
  width: 726px;
  height: 88px;
  background: url(../images/logo-reversephone.png) 522px 16px no-repeat;
  background-size: 130px 14px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #252767;

  margin-top: 1px;
}

.flex-row {
  display: flex;
  margin: auto;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

form {
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 624px;
  height: 45px;
}

.text_wrapper {
  width: 425px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  white-space: nowrap;
}

.text_input {
  background: #ffffff;
  border: 1px solid #a1a0b3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border-radius: 1px;
  letter-spacing: 0.26px;
  font-size: 22px;

  width: 194px;
  height: 36px;

  padding: 0 8px;
  flex-shrink: 0;
}
.text_input:focus,
.text_input:active {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.text_input.highlight {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.text_input::placeholder {
  color: #a5a5a5;
  font-size: 21px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.button {
  font-family: Arial, sans-serif;
  width: 182px;
  height: 37px;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;

  background-color: #2e3192;
  color: #ffffff;
  border-radius: 4px;
}

.button:hover,
.button:active,
.button:focus {
  background: #252767;
}

/* Select element class */
.phone_code_select {
  position: relative;
  width: 80px;
  display: flex;
  background-color: #ffffff;
  height: 36px;
  border: 1px solid #a1a0b3;
  border-radius: 1px;
  outline: none;
  font-size: 13px;
  padding: 0 2px;
  flex-shrink: 0;
}

.phone_code_select:focus,
.phone_code_select:active {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
